/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"); */

.navbar {
  height: 5rem;
  background: #333;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
  font-family: "Roboto", Arial;
  font-size: 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fff;
}
